h1{
    background-color: yellow;
    border: 2px solid black;
}
@media(width:500px){
    h1{
        background-color: red;
        color: aliceblue;
    }
    div{
        height: 300px;
        width: 300px;
        background-color: aqua;
    }
}
@media(min-width:600px){
    h1{
        background-color: blue;
    }
}
@media(max-width:400px){
    h1{
        background-color: magenta;
    }
}
@media(min-width:450px) and (max-width:550px){
    h1{
        background-color: rgb(30, 212, 203);
    }
}
@media(orientation: landscape){
    h1{
        background-color:chocolate;
    }
}