div{
    height: 170px;
    width: 170px;
    background-color: rgba(207, 111, 111, 0.5);
    /* margin: 0 auto;cheezen center me lane ko kiya jata ha */
    transition: all 2s ease-out 1ms;
    margin-top: 10px;
    /* transition: background-color 3s ease-in 1ms; */
}
.opacity{
    background-color: blueviolet;
    opacity: 0.34;
}
div:active{
    margin-left: 400px;
    background-color: yellow;
    border-radius: 50%;
    border: 2px dotted black;
}