h3{
    color: chocolate;
}
h1{
    color: #b92b27;
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
}
#login{
    background-color: aqua;
    
}
#signup{ 
    background-color: gold;
}
.mani{
    background-color: darkorchid;
    color: #fff;
}
p a{
    color: darkgreen;
    background-color: wheat;
}
nav ul li{
    color: rgb(1, 145, 97);
}
p+h3{
    text-decoration: underline;
}
.mani+button{
    background-color: lightblue;
    color: black;
}
/* attribute selector */
input[type="text"]{
    color: blue;
}
button:hover{
    color: white;
    background-color: black;
}
p+h3:hover{
    text-decoration: overline purple;
}
button:active{
    background-color: pink;
    color: rgb(59, 6, 203);
}
p:active{
    font-weight: bold;
    color: green; 
}
input[type=radio]:checked+label{
    font-weight: bold;
    color: red;
}
div:nth-of-type(2n){
    background-color: lightseagreen;
}
h1::first-letter{
    color: magenta;
}
input::placeholder{
    /* background-color:  rgb(232, 190, 228); */
    color:green;
}
h1::highlight{
    background-color: rgb(191, 132, 23);
}