#outer{
    height: 50px;
    width: 900px;
    background-color: pink;
    border: 2px solid lightseagreen;
    display: flex;
    border-radius: 13px;
    justify-content: flex-start;
    align-items: center;

}
#outer div{
    height: 50px;
    width: 80px;
    font-size: 24px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
